---
    title: Математика. Векторы и линейные операции над ними. Лекция 1.
    description: 'Определение вектора. Операции сложения, вычитания, умножения векторов.' 
    date: 2023-09-07
    author: 'Дягилева А.В.'
    published: true
---
# TODO
здесь нужно изучить синтаксис KaTeX, на что у меня пока нет времени